# Dependencies
node_modules/
.pnp
.pnp.js

# Builds
dist/
build/
.next/
out/
coverage/

# Env
.env
.env.*
.env.local
.env.*.local
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# Storage
storage/uploads/**
!storage/uploads/.gitkeep
storage/tmp-uploads/**
!storage/tmp-uploads/.gitkeep

# Prisma
apps/api/prisma/*.db
apps/api/prisma/*.db-journal

# Misc
*.tsbuildinfo
next-env.d.ts
.turbo
